*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* Styling for active link */
.active {
    color: maroon !important;
    font-weight: bold !important;
}

/* Navbar Styles */
.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    background-color: white;
    border-bottom: 1px solid maroon;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar__brand {
    display: flex;
    align-items: center;
}

.navbar__logo {
    height: 40px;
}

.navbar__hamburger {
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
    position: absolute;
    top:20px;
    right:20px;

}
.hamburgerLine{
    width: 22px;
    height:2px;
    background-color: maroon
}

.navbar__navs {
    display: flex;
    flex-direction: row; 
}

.navbar__item {
    display:flex;
    width:auto;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.2s, background-color 0.2s;
    color: black;
    padding: 7px;
    border-radius: 10px;
    font-family: 'Lucida Sans', sans-serif;
    text-transform: uppercase;
}

.navbar__item:not(.active):hover {
    color: maroon;
    background-color: rgb(241, 231, 231);
}

.calendarIcon{
    height:18px;
    margin-right:5px
}
/* Media Queries */
@media (max-width: 700px) {
    .navbar{
        display:flex;
        flex-direction: column;
        width:100%
    }
    .navbar__hamburger {
        display: flex;
    
    }

    .navbar__navs {
        display: none; 
    }

    .navbar__navs.open {
        display: flex; 
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .navbar__item {
        width: 100%; 
    }
    
}