@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
/* styling for active link */
.active{
    color:maroon!important;
    font-weight: bold!important;
  }
* {
    box-sizing: border-box;
}
body {
    margin: 0; 
    padding: 0; 
}

.navbar{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height:auto;
    align-items: center;
    padding: 7px 20px;
    background-color: white;
    border-bottom: 1px solid maroon;
    position:sticky;
    top:0;
    flex: 0 0 auto;
    box-sizing: border-box;
    
}
.navItem{
    text-decoration: none;
    margin: 0 10px 0 10px;
    transition: color 0.2s, background-color 0.2s;
    color: black;
    padding:7px;
    border-radius:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase
    /* font-family: 'Qwitcher Grypen', cursive;
    font-size:25px; */
}
.navItem:not(.active):hover{
    color:maroon;
    background-color: rgb(241, 231, 231);
}
.logo{
    height:100%
}
.brandContainer{
    display:flex;
    flex-direction: row;
    align-items: center ;
    font-size: 20px;
    color: maroon;
    height: 40px;
}
nav .hamburgerIcon{
    display:none;
    position:absolute;
    top: 25px;
    right: 10px;
    flex-direction:column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    margin-right:15px
}
nav .hamburgerIcon:hover{
    cursor:pointer
}
nav .hamburgerIcon span{
    height: 2px;
    width: 22px;
    background-color: maroon;
}

@media (max-width : 700px){
    nav .hamburgerIcon{
        display: flex;
    }
    .brandContainer{
     
        width:100%;
    }
    .navbar{
        flex-direction: column;
        height:auto;
        width:100%;

    }
    div:nth-of-type(3){
        display: none
    }
    nav .open{
        display:flex;
        flex-direction:column;
        width:100%;
        text-align:center;
        border:maroon;
        padding: 10px;
        align-items: center;
    }
    .navItem{
        width:95%;
    }
}