@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
.adminContainer{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin:0;
    padding:0;
    width:100%;
    height:auto;
}
.login{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 20px;
    width:auto;
    height:auto;
}
.addForm{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:auto;
    height:auto;
}
.typeHeading{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 25px;
    color:black;
    margin: 10px;
    background-color: seashell;
    padding:5px 10px;
    border-radius: 10px;
    height:auto;
}
.activeHeading{
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 35px;
    color:maroon;
    margin: 10px 10px 0 10px;
    background-color: #DBBFAF;
    padding:5px 10px;
    border-radius: 10px;

}
.headingContainer{
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: center;
    width:100%;
    height:auto

}
/* Has conditional rendering */
.displayContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 20px;
    width:100%;
    height:auto
}
.inputContainer{
    display:flex;
    flex-direction:column;
    width:auto;
    align-items: flex-end;
}
.addContainer, .changeContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 20px;
    width:100%;
    height:auto;
    border: 1px solid green
}
.iconLady{
    width:100px;
    height:auto;
    margin:20px 0 10px 0;
}
.adminHeading{
    font-family: 'Qwitcher Grypen', cursive
}
.labelCol{
    text-align: center;
    display:flex;
    flex-direction:column;
    width:100%;
}
.labelRow{
    text-align: left;
    display:flex;
    flex-direction:row;
    width:100%;
    align-items:center;
    justify-content: space-between;
}
.labelLeft{
    text-align:left;
    width:100%;
}
.editDescription{
    border-radius: 10px;
    padding: 5px;
    margin:5px
}
.editDetail{
    border-radius:10px;
    margin:5px;
    padding:5px;

}
.serviceDescription{
    width: 350px;
    align-self: flex-end;
}

.inputDetail{
    height:30px;
    width:350px;
    padding:2px;
    margin:5px;
    border-radius: 10px;
    border: 1px solid maroon;
}
.password{
    height:30px;
    width:200px;
    padding:2px;
    margin:5px;
    border-radius: 10px;
    border: 1px solid maroon;
    text-align : center
}
.submitBtn , .button{
    padding:5px 10px;
    border-radius: 10px;
    margin:5px;
    background-color: rgb(236, 224, 224);
}
.submitBtn:hover, .addBtn:hover{
    background-color: #DBBFAF
}

.serviceDescription{
    width:350px;
    padding:10px;
    border-radius: 10px;
    border: 1px solid maroon;
    margin:10px;
    height:auto
}

.typeContainer{
    display:flex;
    flex-direction:column;
    width:100%;
    height:auto;
    flex-wrap:wrap;
    align-items: center;
    border:1px solid pink
}
.cardContainer{
    display:flex;
    flex-direction:column;
    width:80%;
    height:auto;
    flex-wrap:wrap;
    box-sizing: border-box;
    padding: 10px 30px 0 30px
}
.typeCard{
    display:flex;
    flex-direction:column;
    width:100%;
    height:auto;
    padding: 10px 30px;
    /* border:1px solid maroon; */
    border-radius:10px;
    margin:0px  0 10px 0;
    flex-wrap:wrap;
    background-color:rgb(246, 241, 238);
    opacity: 0.9;
    box-sizing: border-box;
}
.bold{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
}
