@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');
.adminContainer{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin:0;
    padding:0;
    width:100%;
    height:auto;
}
.login{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 20px;
    width:auto;
    height:auto;
}
.addForm{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:auto;
    height:auto;
}
.typeHeading{
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 35px;
    color:maroon
}
/* Has conditional rendering */
.displayContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 20px;
    width:100%;
    height:auto
}
.inputContainer{
    display:flex;
    flex-direction:column;
    width:auto;
    align-items: flex-end;
}
.addContainer, .changeContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 20px;
    width:100%;
    height:auto
}
.iconLady{
    width:100px;
    height:auto;
    margin:20px 0 10px 0;
}
.adminHeading{
    font-family: 'Qwitcher Grypen', cursive
}
.labelCol{
    text-align: center;
    display:flex;
    flex-direction:column;
    width:100%;
}
.labelRow{
    text-align: left;
    display:flex;
    flex-direction:row;
    width:100%;
    align-items:center
}
.labelLeft{
    text-align:left;
    width:100%;
}
.serviceDescription{
    width: 350px;
    align-self: flex-end;
}
.password{
    height:30px;
    width:200px;
    padding:2px;
    margin:5px;
    border-radius: 10px;
    border: 1px solid maroon;
    text-align : center
}
.submitBtn , .addBtn{
    padding:5px 10px;
    border-radius: 10px;
    margin:5px;
    background-color: rgb(236, 224, 224);
}
.submitBtn:hover, .addBtn:hover{
    background-color: #DBBFAF
}
.inputDetail{
    height:30px;
    width:350px;
    padding:2px;
    margin:5px;
    border-radius: 10px;
    border: 1px solid maroon;
}
.serviceDescription{
    width:350px;
    padding:10px;
    border-radius: 10px;
    border: 1px solid maroon;
    margin:10px;
    height:auto
}

.facialContainer{
    display:flex;
    flex-direction:column;
    width:100%;
    height:auto;
    flex-wrap:wrap;
}
.facialCard{
    display:flex;
    flex-direction:column;
    width:100%;
    height:auto;
    padding: 10px 30px;
    border:1px solid maroon;
    border-radius:10px;
    margin:10px 0px;
    flex-wrap:wrap;
}
.bold{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
}
