.adminContainer{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin:0;
    padding:0;
    width:100%;
    height:auto;
}
.login{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 20px;
    width:auto;
    height:auto;
    color:white;
    background-color: rgb(119, 43, 43);
    border-radius:20px
}
.addForm{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:auto;
    height:auto;
    background-color: rgb(119, 43, 43);
    padding: 20px;
    border-radius: 20px;
    color:white;
    margin:10px;
}
.typeHeading{
    display:flex;
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 25px;
    color:black;
    margin: 10px;
    background-color: seashell;
    padding:5px 10px;
    border-radius: 10px;
    height:auto;
    width:auto;
    box-shadow: 2px 2px 5px black
}
.activeHeading{
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 35px;
    color:maroon;
    margin: 10px 10px 0 10px;
    background-color: #DBBFAF;
    padding:5px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;

}
.headingContainer{
    display: flex;
    flex-direction:row;
    justify-content: center;
    width:100%;

}
/* Has conditional rendering */
.displayContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 20px;
    width:100%;
    height:auto
}
.inputContainer{
    display:flex;
    flex-direction:column;
    width:auto;
    align-items: center
}
.addContainer, .changeContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 20px;
    width:100%;
    height:auto;
    

}
.iconLady{
    width:100px;
    height:auto;
    margin-top:20px
}
.adminHeading{
    width:250px;
    font-family: 'Qwitcher Grypen', cursive;
    border:3px solid maroon;
    border-radius: 10px;
    text-align: center;
}
.loginHeading{
    width:250px;
    font-family: 'Qwitcher Grypen', cursive;
    border-radius: 10px;
    text-align: center;
    margin:20px
}
.labelCol{
    text-align: center;
    display:flex;
    flex-direction:column;
    width:100%;
}
.labelRow{
    text-align: left;
    display:flex;
    flex-direction:row;
    width:100%;
    align-items:center;
    justify-content: space-between;
}
.labelLeft{
    text-align:left;
    width:100%;
}
.editDescription{
    border-radius: 10px;
    padding: 5px;
    margin:5px
}
.editDetail{
    border-radius:10px;
    margin:5px;
    padding:5px;

}
.serviceDescription{
    width: 350px;
    align-self: flex-end;
}

.inputDetail{
    height:30px;
    width:350px;
    padding:2px;
    margin:5px;
    border-radius: 10px;
    border: 1px solid maroon;
}
.password{
    height:30px;
    width:200px;
    padding:2px;
    margin:5px;
    border-radius: 10px;
    border: 1px solid maroon;
    text-align : center
}
.submitBtn , .button{
    padding:5px 10px;
    border-radius: 10px;
    margin:5px;
    background-color: rgb(236, 224, 224);
}
.submitBtn:hover, .addBtn:hover{
    background-color: #DBBFAF
}

.serviceDescription{
    width:350px;
    padding:10px;
    border-radius: 10px;
    border: 1px solid maroon;
    margin:10px;
    height:auto
}

.typeContainer{
    display:flex;
    flex-direction:column;
    width:95%;
    height:auto;
    flex-wrap:wrap;
    align-items: center;
    background-color: rgb(119, 43, 43);
    border-radius: 20px;
    margin:10px

}
.cardContainer{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:95%;
    height:auto;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
}
.typeCard{
    display:flex;
    flex-direction:column;
    width:320px;
    height:auto;
    padding: 10px 30px;
    border-radius:10px;
    margin:0px  0 10px 0;
    flex-wrap:wrap;
    background-color:rgb(246, 241, 238);
    opacity: 0.9;
    box-sizing: border-box;
    margin:10px;
}
.bold{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color:maroon;
    text-transform: uppercase;
    font-size: 15px;
}
.dividerUp{
    width:250px;
    transform: scaleY(-1);
    margin-top:20px
    /* filter: invert(1);  */
}

.dividerDown{
    width:250px;
    /* filter: invert(1);  */
}