.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    height:auto;
  }
  .aspectRatio {
    width: 100%;
    height: auto; 
    max-width: 900px; 
    padding:10px
  }
  .homeImage {
    width: 100%;
    height: auto; 
    display: block;
    border-radius: 20px;
  }
  .rowContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .rowLeft{
    display:flex;
    flex-direction: row;
    width:50%;
    justify-content:flex-end;
    align-items:center;
  }
  .rowRight{
    display:flex;
    flex-direction: row;
    width:50%;
    justify-content: flex-start;
    align-items:center;
  }
  .iconLarge{
    width:120px;
    height:auto;
    margin:10px;
  }
  .iconHeading{
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 35px; 
    color:maroon;
    text-shadow: 2px 2px 5px #DBBFAF;
  }
  .strong{
    font-weight: bold
  }

  @media (max-width: 700px){
    .iconLarge{
        width:80px;
        
    }
    .iconHeading{
      display:flex;
      flex-direction: column;
      flex-wrap:wrap;
      width:100%;
      height:auto;
      padding:0 50px;
      font-size: 22px;
    }
    .strong{
      width:100%;
      text-align:right;
      font-size: 22px;
    }
    .rowContainer{
      flex-direction:column;
    }
    .rowHalf{
      width:100%
    }
  }