.servicesContainer{
    display: flex;
    flex:1;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding:10px;
}
.servicesTypeContainer{
    display:flex;
    flex-direction: column;
    width:80%;
    min-height:600px;
    height:auto;
    background-color: rgb(119, 43, 43);
    padding:30px;
    border-radius: 20px;
    align-items: center;
   
}
.subTypeContainer{
    display:flex;
    flex-direction: column;
    width:100%;
    background-color:rgb(246, 241, 238);
    padding: 20px;
    border-radius:20px;
    max-width:1100px;
}
.subTypeHeading{
    width: auto;
    border:1px solid white;
    text-align: center;
    font-size: 20px;
    color:white;
    border-radius: 10px 10px 0 0;
    border-bottom:none;
    padding:5px 30px 5px 30px ;
    min-width:230px;
    justify-content: center;
}
.mainHeading{
    width:100%;
    text-align:center;
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 45px;
    color:maroon;
    margin-bottom:5px
}
.rowService{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:100%
}
.normal{
    font-weight:lighter
}
.servicesCard{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.dividerUpWhite{
    width:250px;
    transform: scaleY(-1);
    margin-top:20px;
    filter: invert(1); 
}
.dividerDownWhite{
    width:250px;
    margin-top:20px;
    filter: invert(1); 
}
.subdivider{
    height:20px;
    width:auto;
    padding: 5px;
    margin:5px
}
.alignLeft{
    text-align: justify;
    width:100%;
}
/* Hide divider for the last service */
.servicesCard:last-child .subdivider {
    display: none;
}
.priceOnly{
    width: 400px;
    display:flex;
    flex-direction: column;
    background-color:rgb(246, 241, 238);
    padding: 20px;
    border-radius:20px;
    
}
.priceOnlyName{
    font-weight: bold;
    text-transform: capitalize;
    color: maroon
}
.conditionalFace , .conditionalBody, .conditionalNails  , .conditionalHair{
    flex-direction:column;
    align-items: center;
    width:100%
}
.underline{
    text-decoration: underline;
    margin: 5px 0;
    color:black;
    font-weight: bold;
    
}
.smallerDivider{
    width:150px;
    margin:10px auto;
}
.rowInitially{
    display: flex;
    flex-direction:row;
    width:100%;
    height:auto;
}

@media (max-width:700px){
    .servicesTypeContainer{
        display:flex;
        flex-direction:column;
        height:auto;
        width:100%;
        padding:10px;
    }
    .subTypeContainer{
        display:flex;
        width:100%;
        padding: 15px
    }
    .priceOnly{
        padding:10px;
        width:300px
    }
    .subTypeHeading{
        padding:5px
    }
    .rowInitially{
        display:flex;
        flex-direction: column-reverse;
        width:100%;
        height:auto;
        flex-wrap: wrap
    }
}
